html, body{
  overflow-x: hidden;
}
body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  color:#333333;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Bree Serif", Helvetica, Arial, sans-serif;
}
h2 {
  font-size:28px;
  font-weight: normal;
  margin-bottom: 5px;
}
p {
  font-size:16px;
  line-height: 19px;
  font-weight: 100;
}

img {
  max-width:100%;
}

/* GRID */
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}
.container:before,
.container:after {
  content: " ";
  display: table;
}
.container:after {
  clear: both;
}
.one-half, .one-third, .one-fourth {
  width:96%;
  float:left;
  position:relative;
  min-height: 1px;
  margin:0 2% 20px;
}

@media screen and (max-width: 599px) {
  .container {
    width: 90%;
  }
  .hero h1 {
   font-size:36x;
   font-weight: normal;
   margin:50px 0 0;
 }
 .hero p {
   font-size: 18px;
   line-height: 22px;
}
header nav ul {
  display:inline;
  text-align: right;
  float:right;
  margin:0;
}
header nav ul > li.btn-outline {
  padding: 8px 10px;
  border: 2px solid #FFFFFF;
  border-radius:4px;
}
}

@media (min-width:600px) {
  .one-half {
      width: 46%;
    }
      .hero h1 {
   font-size:42px;
   font-weight: normal;
   margin:95px 0 0;
 }
  .hero p {
   font-size: 20px;
   line-height: 24px;
}
header nav ul {
  display:inline;
  text-align: right;
  float:right;
  margin:0;
}
header nav ul > li.btn-outline {
  padding: 10px 15px;
  border: 2px solid #FFFFFF;
  border-radius:4px;
}
}
@media (min-width: 768px) {
  .container {
    width: 750px;
    }
  .one-third {
    width:29.33333%;
    }

}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
  .one-fourth {
    width:21%;
  }
   .hero p {
   font-size: 22px;
   line-height: 26px;
   }
   .hero h1 {
   font-size:48px;
   font-weight: normal;
   margin:95px 0 0;
 }
}


/* HEADER */

header {
  color:#FFFFFF;
  background: #19607D;
  background-image: linear-gradient(-180deg, rgba(25,96,125,0.50) 7%, #00A694 100%);
}
header nav {
  padding: 1em 0;
}

header nav ul > li {
  list-style-type: none;
  display: inline-block;
  margin: 0 15px;
}
header nav ul > li.btn-outline:hover {
  background:#FFFFFF;
}
header nav ul > li > a {
  color:#FFFFFF;
  text-decoration: none;
}
header nav ul > li.btn-outline:hover > a {
  color: #19607D;
}
header .hero {
   text-align: center;
   display:block;
   position: relative;
 }
 header .hero h1 {
   font-weight: normal;
 }

 header .hero p {
   font-weight: 100;
   margin:10px 0 40px;
 }
 header .hero img {
   display: block;
   margin:3em auto 0;
 }

/* BUTTONS */
.btn {
  border-radius: 4px;
  color: #FFFFFF;
  font-weight: 700;
  text-decoration: none;
  padding: 10px 30px;
  background: #ED692F;
  border: 2px solid #ED692F;
  box-shadow: 0px 2px 0px 0px #AC4213;
}
